mixin nav
  nav#menu.center
    span#triggerUp v
    div  
      ul
        li 
          a(href="/about") about me
        li 
          a(href="docs/resume_v2.pdf", target="_blank") resume
        li 
          a(href="https://vimeo.com/jaimesimental", target="_blank") videos 
        li 
          a(href="https://blogdejaime.herokuapp.com", target="_blank") blog