mixin nav
  nav
    span v
    ul
      li 
        a(href="docs/resume_v2.pdf") about me
      li 
        a(href="docs/resume_v2.pdf") resume
      li 
        a(href="docs/resume_v2.pdf") videos 
      li 
        a(href="docs/resume_v2.pdf") blog